<h1>Space Pony</h1>

<p>
Space Pony makes it easy to sync your desktop settings to the web and other machines. 
We plan to at least support pidgin accounts, tomboy notes, rhythmbox 
settings, and firefox settings.
</p>

<%= link_to 'Create a new user', new_user_path %>
 or 
<%= link_to 'login', :controller => 'users', :action => 'login' %>
